
@{
    ViewData["Title"] = "Contactos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contactos</h1>
<address>
    FotosShopping Inc.<br />
    Rua das Fotos, nº1<br />
    2815-Imagem de Marca<br />
    Portugal<br />
    <abbr title="Phone">P:</abbr>
    210795000
</address>


