@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>Aqui vai encontras as melhores imagens para o seu site</a>.</p>
    <img src="~/images/undercontruction1.jpg" />
</div>
