
@{
    ViewData["Title"] = "Itinerario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>O Roteiro da Minha Viagem de Sonho</h1>

<ul>
    <li>Dia 1: Coliseu.</li>
    <li>Dia 2: Fontana di Trevi.</li>
    <li>Dia 3: Vaticano.</li>
</ul>

